h1 {color:blue}
h2 {color:red}
p {font-style: italic}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

input.ng-valid[required] {
    border: 2px solid #16a085;
}

input..ng-invalid {
    border: 2px solid #c0392b;
}

input..ng-untouched {
    border: 2px solid #95a5a6
}

