<br>
<div class="row">
  <p><label>Ajouter Client :</label></p>


  <div class="col-md-6  well">
    
    <form> 
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Nom" [(ngModel)]="texteNom" name="nom" #nom="ngModel" required>
      </div>

      <div class="alert alert-danger" *ngIf=(nom.invalid)>
        Ajouter Nom
      </div>


      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Prénom" [(ngModel)]="textePrenom" name="textePrenom" required>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email"  [(ngModel)]="texteEmail" name="texteEmail" required>
      </div>
    
      <button type="submit" class="btn btn-default pull-right" (click)="ajouterClient(texteNom, textePrenom, texteEmail)" [disabled]="!textePrenom || !texteEmail">Sauvegarder</button>
    </form>

 </div>
</div><!-- row -->