<div class="container">

<h1>Répertoire Clients</h1>
 
  <!-- Navigation -->
  <div class="row">

  </div><!-- row -->
  <br>

 <!-- Formulaire - ajouter Clients -->
<div class="row">
 
  <div class="col-md-6  well">

    <p><label>Ajouter Client :</label></p>
    
    <form> 
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nom" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Prénom" required>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
      </div>
    
      <button type="submit" class="btn btn-default pull-right">Sauvegarder</button>
    </form>

 </div>
</div><!-- row -->
<br>

  <!-- Liste Clients -->

	<div class="row">

		<div class="col-md-6">

      <hr>

    	<p><label>Liste Clients</label></p>
			
			<table class="table table-bordered">	
				<tr>	
					<td>Nom</td>
					<td>Prénom</td>
					<td>Email</td>
				</tr>

        	<tr>	
					<td>Nom</td>
					<td>Prénom</td>
					<td>Email</td>
				</tr>       
			</table>

		</div>
	</div><!-- row -->
	
</div>

